<link href="/WebOnSwingWeblog/resources/styles/default2.css" rel="stylesheet" type="text/css">
<table border="0" width="50%" cellspacing="1" cellpadding="5">
	<span name="header">
	<tr bgcolor="#FFFFFF" align="center">
		<td colspan="2">
			<span name="image">Test5</span>
		</td>
	</tr>
	<tr bgcolor="#FAFAFA">
		<td colspan="2">
		<table width="100%">
			<tr>
				<td align="center">
					<span name="login">Test5</span>
				</td>
				<td align="center">
					<span name="user">Test5</span>
				</td>
				<td align="center">
					<span name="help">Test5</span>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	</span>
	<tr>
		<td name="menu" bgcolor="#F8FFEE" valign="top" align="center" width="25%">
			<table>
				<tr align="center">
					<td>
						<span name="home"/><br><br><br><br>
					</td>	
				</tr>	
				<tr align="center">
					<td>
						<br>Choose Look&Feel<br><br>
						<span name="aqua">Aqua Look&Feel</span><br>
					</td>	
				</tr>	
				<tr align="center">
					<td>
						<span name="flat">Flat Look&Feel</span>
					</td>	
				</tr>	
			</table>
		</td>
		<td valign="top" bgcolor="#FFF9EE" height="600"><span name="body"/></td>
	</tr>
	<tr>
		<td name="footer" bgcolor="#FFFFEE" colspan="2" align="center">&copy 2004 - <b>Wafer Project</b><br>
			<b>WebOnSwing</b> port by <span name="by"/>
		</td>
	</tr>
</table>