<span>
	<table border="0" cellspacing="10" width="100%">
		<tr>
			<td><span name="addStoryButton"/></td>
		</tr>
		<span name="storiesPanel">
		<tr name="storyPanel">
			<td>
				<table border="0" width="100%" class="story">
					<span name="story">
						<tr>
							<td colspan="2">
								<b><span name="subjectLabel"/></b>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<span name="contentLabel"/>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								posted by <b><span name="userLabel"/></b> at <span name="dateLabel"/>
							</td>
						</tr>
					</span>
					<tr>
						<td>
							<span name="viewCommentsButton"/>
						</td>
						<td align="right">
							<span name="addCommentButton"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		</span>
	</table>
</span>
