	<table border="0" cellspacing="10" class="login" cellspacing="10">
		<span>
			<tr>
				<td colspan="1">
					<span name="titleLabel"/>
				</td>
			</tr>
			<tr>
				<td colspan="1">
					<table>
						<span name="fieldsPanel">
						<span name="fieldPanel">
						<tr>
							<td>
								<span name="label"/>
							</td>	
						</tr>
						<tr>
							<td>
								<span name="field"/>
							</td>	
						</tr>
						</span>
						</span>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<span name="submitButton"/>
				</td>
			</tr>
		</span>
	</table>		
