<span>
		<table border="0" cellspacing="10" width="100%">
		<span name="topPanel">
		<tr>
			<td colspan="3">
				<table border="0" width="100%" class="story">
					<span name="story">
							<tr>
								<td>
									<b><span name="subjectLabel"/></b>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<span name="contentLabel"/>
								</td>
							</tr>
							<tr>
								<td>
									posted by <b><span name="userLabel"/></b> at <span name="dateLabel"/>
								</td>
							</tr>
					</span>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<span name="addCommentButton" />
			</td>
		</tr>
		</span>
		<tr>
			<td colspan="3">
				&nbsp;
			</td>
		</tr>
		<span name="commentsPanel">
		<span name="commentPanel">
		<tr>
			<td colspan="1">
					<table border="0" width="100%"  class="comment">
						<span name="commentView">
							<tr>
								<td>
									<b><span name="subjectLabel"/></b>
								</td>
							</tr>
							<tr>
								<td colspan="3">
									<span name="contentLabel"/>
								</td>
							</tr>
							<tr>
								<td>
									posted by <b><span name="userLabel"/></b> at <span name="dateLabel"/>
								</td>
							</tr>
						</span>
					<tr>
						<td colspan="3">
							<span name="replyButton"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		</span>
		</span>
	</table>		
</span>
