<span>
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<span name="topPanel">
		<tr>
			<td colspan="3">
				<table border="0" width="100%" class="story" cellspacing="0" cellpadding="0">
					<span name="story">
						 <tr>
							<td width="15" height="15" background="/WebOnSwingWeblog/resources/styles/aqua/coinsupg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
							<td height="15" colspan="3" background="/WebOnSwingWeblog/resources/styles/aqua/sup.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
							<td width="15" height="15" background="/WebOnSwingWeblog/resources/styles/aqua/coinsupd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
						 </tr>
						 <tr>
							<td width="15" rowspan="7" background="/WebOnSwingWeblog/resources/styles/aqua/g.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
							<td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebsupg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
							<td height="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebsup.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
							<td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebsupd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
							<td width="15" rowspan="7" background="/WebOnSwingWeblog/resources/styles/aqua/d.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
						 </tr>
						 <tr>
							<td background="/WebOnSwingWeblog/resources/styles/aqua/carrebg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
							<td background="/WebOnSwingWeblog/resources/styles/aqua/carrebfond.gif" align="center">
								<h4>Story</h4>
								<font size="5" color="black"><h3><b><span name="subjectLabel"/></b></h3></font>
								<span name="contentLabel"/><br><br>
								posted by <b><span name="userLabel"/></b> at <span name="dateLabel"/>
							</td>
							<td width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
						 </tr>
					</span>
                     <tr>
                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebinfg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebinf.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebinfd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>

                     <tr>
                        <td colspan="3" background="/WebOnSwingWeblog/resources/styles/aqua/fond.gif" align="left"><br>
                         <b><font size="2" color="black"><br></font></b></td>
                     </tr>

                     <tr>
                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carresupg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" background="/WebOnSwingWeblog/resources/styles/aqua/carresup.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carresupd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>

                     <tr>
                        <td background="/WebOnSwingWeblog/resources/styles/aqua/carreg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td background="/WebOnSwingWeblog/resources/styles/aqua/carrefond.gif" align="left" width="100%">
                        	<span name="addCommentButton" />
                         </td>

                        <td width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carred.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>

                     <tr>
                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carreinfg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" background="/WebOnSwingWeblog/resources/styles/aqua/carreinf.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carreinfd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>

                     <tr>
                        <td width="15" height="15" background="/WebOnSwingWeblog/resources/styles/aqua/coininfg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" colspan="3" background="/WebOnSwingWeblog/resources/styles/aqua/inf.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td width="15" height="15" background="/WebOnSwingWeblog/resources/styles/aqua/coininfd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>
				</table>
			</td>
		</tr>
		</span>
		<tr>
			<td colspan="3">
				&nbsp;<br><br>
			</td>
		</tr>
		<tr>
			<td>
           	<span name="commentsPanel">

			<span name="commentPanel">
               <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                <span name="commentView">
                     <tr>
                        <td width="15" height="15" background="/WebOnSwingWeblog/resources/styles/aqua/coinsupg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                        <td height="15" colspan="3" background="/WebOnSwingWeblog/resources/styles/aqua/sup.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                        <td width="15" height="15" background="/WebOnSwingWeblog/resources/styles/aqua/coinsupd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>
                     <tr>
                        <td width="15" rowspan="7" background="/WebOnSwingWeblog/resources/styles/aqua/g.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebsupg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                        <td height="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebsup.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebsupd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                        <td width="15" rowspan="7" background="/WebOnSwingWeblog/resources/styles/aqua/d.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>
                     <tr>
                        <td background="/WebOnSwingWeblog/resources/styles/aqua/carrebg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                        <td background="/WebOnSwingWeblog/resources/styles/aqua/carrebfond.gif" align="left">
							<font size="5" color="black"><b><span name="subjectLabel"/></b></font><br><br>
							<span name="contentLabel"/><br><br>
							posted by <b><span name="userLabel"/></b> at <span name="dateLabel"/>
                        </td>
                        <td width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>
				</span>
                     <tr>
                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebinfg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebinf.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carrebinfd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>

                     <tr>
                        <td colspan="3" background="/WebOnSwingWeblog/resources/styles/aqua/fond.gif" align="left"><br>
                         <b><font size="2" color="black"><br></font></b></td>
                     </tr>

                     <tr>
                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carresupg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" background="/WebOnSwingWeblog/resources/styles/aqua/carresup.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carresupd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>

                     <tr>
                        <td background="/WebOnSwingWeblog/resources/styles/aqua/carreg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td background="/WebOnSwingWeblog/resources/styles/aqua/carrefond.gif" align="left" width="100%">
							<span name="replyButton"/>
                         </td>

                        <td width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carred.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>

                     <tr>
                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carreinfg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" background="/WebOnSwingWeblog/resources/styles/aqua/carreinf.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" width="15" background="/WebOnSwingWeblog/resources/styles/aqua/carreinfd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>

                     <tr>
                        <td width="15" height="15" background="/WebOnSwingWeblog/resources/styles/aqua/coininfg.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td height="15" colspan="3" background="/WebOnSwingWeblog/resources/styles/aqua/inf.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>

                        <td width="15" height="15" background="/WebOnSwingWeblog/resources/styles/aqua/coininfd.gif"><img src="/WebOnSwingWeblog/resources/styles/aqua/space15_15.gif" width="15" height="15"></td>
                     </tr>
                  </tbody>
               </table>
			</span>
			</span>
			</td>
		</tr>
	</table>		
</span>
