<?xml version="1.0" encoding="UTF-8"?>
<container>
    <services>
        <service id="console" class="com.marvin.bundle.framework.console.Console">
            <argument type="service" id="kernel"/>
            <argument type="service" id="event_dispatcher"/>
        </service>
        
        <service id="console.event_listener" class="com.marvin.bundle.framework.console.listener.ConsoleSubscriber">
            <tag name="event_subscriber"/>
        </service>
        
        <service id="server" class="com.marvin.bundle.framework.server.Server">
            <argument type="service" id="kernel"/>
            <argument type="service" id="event_dispatcher"/>
        </service>
        
        <service id="console.event_listener" class="com.marvin.bundle.framework.server.listener.ServerSubscriber">
            <tag name="event_subscriber"/>
        </service>
        
        <service id="kernel.log.event_listener" class="com.marvin.bundle.framework.listener.KernelLogSubscriber">
            <tag name="event_subscriber"/>
        </service>
    </services>
</container>
