<table cellspacing="5" cellpadding="5" border="0" align="center" style="font-family : Verdana; background-color: #C4D0DF;border: 1px;border-style: solid;border-color: #000000;">
	<tr>
		<td align="center"><font face="Verdana" size="2px"><b>Simple Calculator</b></font><br><br></td>
	</tr>
  <tr>
		<td align="center" style="border: 1px;border-style: solid;border-color: #F0F0FF #B0B0C0 #B0B0C0 #F0F0FF; background-color: #F8D8C4;">
			<span name="firstNumber" size="5" style="color:#555555; border-color: #000000; border-width: 1px; background-color: #EEEEEE;"/>
		</td>	
	</tr>
  <tr>
		<td align="center">
			<span name="operation" style="color:#555555; border-color: #000000; border-width: 1px; background-color: #DCEBD1;"/>
		</td>	
	</tr>
  <tr>
		<td align="center" style="border: 1px;border-style: solid;border-color: #F0F0FF #B0B0C0 #B0B0C0 #F0F0FF; background-color: #F8D8C4;">
			<span name="secondNumber" size="5" style="color:#555555; border-color: #000000; border-width: 1px; background-color: #EEEEEE;"/>
		</td>	
	</tr>	
	<tr>
		<td align="center"> 
			<span name="button" style="color:#555555; border-color: #000000; border-width: 1px; background-color: #DCEBD1;"/>
		</td>	
	</tr>	
	<tr>
		<td align="center" style="border: 1px;border-style: solid;border-color: #F0F0FF #B0B0C0 #B0B0C0 #F0F0FF; background-color: #F8D8C4;">
			<span name="result" />
		</td>	
	</tr>	
</table>