<html>
<head>
</head>

<body>
<span name="main">
    <h4><font face="Verdana">CompareValidator Example</font></h4>
    <font face="Verdana" size="1px">Type a value in each textbox, select a comparison operator, then click "Validate" to test.</font>

      <table bgcolor="#C4D8C4" cellpadding=10 style="border: 1px solid #B78BB7">

      <tr valign="top">
        <td colspan=3>
          <font face="verdana" color="Red" size="2">
            <span name="label1" />
          </font>
        </td>
      </tr>
      <tr valign="top">
        <td>
            <h5><font face="Verdana">String 1:</font></h5>
            <span name="component1" />
        </td>
        <td>
            <h5><font face="Verdana">Comparison Operator:</font></h5>
            <span name="operationList" size="4"/>
        </td>
        <td>
            <h5><font face="Verdana">String 2:</font></h5>
            <span name="component2" /><p>
            <input name="button" />
        </td>
      </tr>
      </table>

      <span name="compareValidator" />
</span>
</body>
</html>
