<html>
<head>
</head>

<body>
<span name="main">
<h4><font face="Verdana">JRangeValidator Sample</font></h4>
    <p>
      <table bgcolor="#C4D8C4" cellpadding=10 style="border: 1px solid #B78BB7">
      <tr valign="top">
        <td colspan=3>
          <font face="verdana" color="Red" size="2">
            <span name="outputLabel" />
          </font>
        </td>
      </tr>
      <tr valign="top">
        <td>
            <h5><font face="Verdana">Value to Check:</font></h5>
            <span name="component1" />
        </td>
        <td>
            <h5><font face="Verdana">Data Type: Integer Min(1), Max(10)</font></h5>
        </td>
        <td>
             <font color="Red"><span name="validator1" /></font>
        </td>
      </tr>
      <tr valign="top">
        <td>
            <h5><font face="Verdana">Value to Check:</font></h5>
            <span name="component2" />
        </td>
        <td>
            <h5><font face="Verdana">Data Type: Date Min(2000/01/01), Max(2001/01/01)</font></h5>
        </td>
        <td>
             <font color="Red"><span name="validator2" /></font>
        </td>
      </tr>
      <tr valign="top">
        <td>
            <h5><font face="Verdana">Value to Check:</font></h5>
            <span name="component3" />
        </td>
        <td>
            <h5><font face="Verdana">Data Type: String Min(Aardvark), Max(Zebra)</font></h5>
        </td>
        <td>
             <font color="Red"><span name="validator3" /></font>
        </td>
      </tr>
      <tr valign="top">
        <td colspan="3">
         <span name="button" />
        </td>
      </tr>
     </table>
</span>
</body>
</html>
