<html>
<head>
</head>

<body>
<span name="main">
<h4><font face="Verdana">JRegularExpressionValidator Example</font></h4>
<p>

 <table bgcolor="#C4D8C4" cellpadding=10 style="border: 1px solid #B78BB7">
    <tr valign="top">
      <td colspan=3>
        <font face="verdana" color="Red" size="2">
          <span name="label" />
        </font>
      </td>
    </tr>

    <tr>
      <td colspan=3>
      <font face=Verdana size=2><b>Personal Information</b></font>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Verdana size=2>Email:</font>
      </td>
      <td>
        <span name="component1" />
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="requiredFieldValidator1" />
        <span name="regularExpressionValidator1" />
        </font>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Verdana size=2>Phone:</font>
      </td>
      <td>
        <span name="component2" />
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="requiredFieldValidator2" />
        <span name="regularExpressionValidator2" />
        </font>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Verdana size=2>Zip Code:</font>
      </td>
      <td>
        <span name="component3" />
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="requiredFieldValidator3" />
        <span name="regularExpressionValidator3" />
        </font>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <span name="button" />
      </td>
      <td></td>
    </tr>
    <tr valign="top">
      <td colspan=3>
        <font face="verdana" color="Red" size="2">
          <span name="groupValidator" />
        </font>
      </td>
    </tr>
    </table>
    
</span>
</body>
</html>
