<table border="0" cellspacing="0" cellpadding="0" bgcolor="#B7B78B">
  <tr>
    <td>
      <table border=0" cellspacing="1" cellpadding="15"> 
        <tr>
          <td bgcolor="#F6F6EB" width="100" align="center">
            <font face="Verdana" size="-2">
        			<span name="label"/>
            </font>
          </td>
          <td bgcolor=#D8D8C4>
            <table border="1" name="panel1" cellpadding="15">
              <tr>
                <td align="center"><span name="button"/></td>
              </tr>
              <tr name="panel2">
                <td><span name="checkButton"/></td>
              </tr>
            </table>		
            </td>
          </tr>
      </table>
    </td>
  </tr>
</table>
