<table border="0" align="center" style="font-family : Verdana; border: #999999 solid 1px; background-color: #F1EFEC;">
	<tr align="center">
		<td>
			Player details
			<br><br>
		</td>
	</tr>
	<tr>
		<td>
			First name:<span name="firstName"/><span name="validator1" style="color:#FF0000;"/>
		</td>	
	</tr>	
	<tr>
		<td>
			Last name:<span name="lastName"/><span name="validator2" style="color:#FF0000;"/>
		</td>	
	</tr>	
	<tr>
		<td>
			Last name:<span name="email"/><span name="validator3" style="color:#FF0000;"/>
		</td>	
	</tr>	
	<tr>
		<td>
			<span name="saveButton" style="border-width: 1px; background-color: #DCEBD1;"/>
		</td>	
	</tr>	
	<tr>
		<td>
			<span name="groupValidator" style="color:#BB0000; border-width: 1px; font-size: 9"/>
		</td>	
	</tr>	
</table>