<html>
<head>
</head>

<body>
<span name="main">
    <center>
<h4><font face="Verdana">Sign In Form Validation Sample</font></h4>
    <hr width=600 size=1 noshade>
        <font face="verdana" color="Red" size="2">
          <span name="outputLabel" />
        </font>
    <p>
    <table border=0 width=600 bgcolor="#C4D8C4" cellpadding=5 style="border: 1px solid #B78BB7">
    <tr><td colspan=3>
        <table border=0 cellpadding=0 cellspacing=0 width="100%">
        <tr><td>
            <font face=geneva,arial size=-1><b>Sign-In Information</b></font>
        </td></tr>
        </table>
    </td></tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>Email Address:</font>
      </td>
      <td>
        <input name="email" type="text" style="border: solid 1px; background: #D8D8C4;"/>
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="emailJRequiredFieldValidator" />
        <span name="emailJRegularExpressionValidator" />
        </font>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>Password:</font>
      </td>
      <td>
        <input name="password" style="border: solid 1px; background: #D8D8C4;"/>
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="passwordJRequiredFieldValidator" />
        <span name="passwordJRegularExpressionValidator" />
        </font>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>Re-enter Password:</font>
      </td>
      <td>
        <input name="reenterPassword" style="border: solid 1px; background: #D8D8C4;"/>
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="reenterPasswordJRequiredFieldValidator" />
        <span name="reenterPasswordJCompareValidator" />
        </font>
      </td>
    </tr>
    <tr><td colspan=3>&nbsp;</td></tr>
    <tr><td colspan=3>
        <table border=0 cellpadding=0 cellspacing=0 width="100%">
        <tr><td><font face=geneva,arial size=-1>
            <b>Personal Information</b></font>
        </td></tr>
        </table>
    </td></tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>First Name:</font>
      </td>
      <td>
        <span name="firstName" style="border: solid 1px; background: #D8D8C4;"/>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>Last Name:</font>
      </td>
      <td>
        <span name="lastName" style="border: solid 1px; background: #D8D8C4;"/>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>Address:</font>
      </td>
      <td>
        <span name="address" style="border: solid 1px; background: #D8D8C4;"/>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>State:</font>
      </td>
      <td>
        <span name="state" style="border: solid 1px; background: #D8D8C4;"/>
        <font face=Arial size=2>Zip Code:</font>&nbsp;
        <span name="zip" style="border: solid 1px; background: #D8D8C4;"/>
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="zipJRequiredFieldValidator" />
        <span name="zipJRegularExpressionValidator" />
        </font>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>Phone:</font>
      </td>
      <td>
        <span name="phone" style="border: solid 1px; background: #D8D8C4;" maxlength="20" />
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="phoneJRequiredFieldValidator" />
        <span name="phoneJRegularExpressionValidator" />
        </font>
      </td>
    </tr>
    <tr><td colspan=3>&nbsp;</td></tr>
    <tr>
      <td colspan=3>
      <font face=Arial size=2><b>Credit Card Information</b></font>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>Card Type:</font>
      </td>
      <td>
        <span name="cardType1" style="border: solid 1px; background: #D8D8C4;"/>
        <span name="cardType2" style="border: solid 1px; background: #D8D8C4;"/>
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="cardType1JRequiredFieldValidator" />
        </font>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>Card Number:</font>
      </td>
      <td>
        <span name="cardNumber" style="border: solid 1px; background: #D8D8C4;"/>
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="cardNumberJRequiredFieldValidator" />
        </font>
      </td>
    </tr>
    <tr>
      <td align=right>
        <font face=Arial size=2>Expiration Date:</font>
      </td>
      <td>
        <span name="expirationCombo" style="border: solid 1px; background: #D8D8C4;"/>
      </td>
      <td>
        <font face="verdana" color="Red" size="2">
        <span name="expirationComboJRequiredFieldValidator" />
        </font>
      </td>
    </tr>
    </table>
    <p>
    <input name="button" />
    <p>
        <font face="verdana" color="Red" size="2">
          <span name="groupValidator" /> 
        </font>
    <hr width=600 size=1 noshade>
</span>
</body>
</html>
