<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app 
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" 
	"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
	<servlet>
		<servlet-name>WebOnSwingServlet</servlet-name>
		<servlet-class>net.ar.webonswing.servlets.WebOnSwingServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SimpleResourceManager</servlet-name>
		<servlet-class>net.ar.webonswing.servlets.SimpleResourceManager</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>WebOnSwingServlet</servlet-name>
		<url-pattern>*.page</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>WebOnSwingServlet</servlet-name>
		<url-pattern>*.event</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SimpleResourceManager</servlet-name>
		<url-pattern>/net/ar/webonswing/resources/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>/redirect.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<exception-type>net.ar.webonswing.managers.pages.PageNotFoundException</exception-type>
		<location>/error.jsp</location>
	</error-page>
</web-app>
