.buttonUp  { 	
	font:Menu;
	cursor:Hand;
	border:1px solid;
	border-color:ThreeDHighlight ThreeDDarkShadow ThreeDDarkShadow ThreeDHighlight;
	border-bottom:1;
} 

.buttonDown  { 	
	font:Menu;
	cursor:Default;
	border:1px solid;
	border-color:ThreeDDarkShadow ThreeDHighlight ThreeDHighlight ThreeDDarkShadow; 
	border-bottom:1;
} 

.tabUp  { 	
	font:Menu;
	cursor:Hand;
	display:inline;
	margin:2px -2px 1px 3px;
	float:left;
	padding:2px 5px 3px 5px;
	background:ThreeDFace;
	border:1px solid;
	border-color:ThreeDHighlight ThreeDDarkShadow ThreeDDarkShadow ThreeDHighlight;
	border-bottom:0;
	z-index:1;
	position:relative;
	top:0;
	height:14 
} 

.tabDown  { 	
	font:Menu;
	cursor:Default;
	display:inline;
	margin:2px -2px 1px 3px;
	float:left;
	padding:2px 6px 3px 6px;
	background:ThreeDFace;
	border:1px solid;
	border-color:ThreeDDarkShadow ThreeDHighlight ThreeDHighlight ThreeDDarkShadow; 
					
	border-bottom:0;
	z-index:3;
	position:relative;
	top:0;
	height:14 
} 


.panel  { 	
	clear:both;
	border:1px solid;
	border-color:ThreeDHighlight ThreeDDarkShadow ThreeDDarkShadow ThreeDHighlight;
	background:ThreeDFace;
	z-index:0;
	position:relative;
	top:-2px;
	color:WindowText;
	font:Message-Box;
	padding:10px 
} 

