<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
	PUBLIC "-//Hibernate/Hibernate Configuration DTD 2.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd"
>

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="hibernate.connection.url">jdbc:hsqldb:./db/wos-petstore</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password"></property>
    <property name="dialect">net.sf.hibernate.dialect.HSQLDialect</property>
    <property name="show_sql">false</property>
    <property name="use_outer_join">true</property>
    <property name="transaction.factory_class">net.sf.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="hibernate.cache.provider_class">net.sf.hibernate.cache.HashtableCacheProvider</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <mapping resource="net/ar/webonswing/petstore/model/Category.hbm.xml" />
    <mapping resource="net/ar/webonswing/petstore/model/Customer.hbm.xml" />
    <mapping resource="net/ar/webonswing/petstore/model/Item.hbm.xml" />
    <mapping resource="net/ar/webonswing/petstore/model/Order.hbm.xml" />
    <mapping resource="net/ar/webonswing/petstore/model/OrderItem.hbm.xml" />
    <mapping resource="net/ar/webonswing/petstore/model/Product.hbm.xml" />
  </session-factory>
</hibernate-configuration>
