.textoroll  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:normal;
	TEXT-DECORATION:none 
}
.textoroll2  { 	
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:normal;
	BACKGROUND-COLOR:#ff9933 
} 

.fonttablas  { 	
	COLOR:#000000;
	FONT-FAMILY:Arial, Helvetica, sans-serif;
	FONT-SIZE:10px 
}
.fonttablas-bordeax  { 	
	COLOR:#990000;
	FONT-FAMILY:Arial, Helvetica, sans-serif;
	FONT-SIZE:10px 
}
.fonttablaslink  { 	
	COLOR:#000000;
	FONT-FAMILY:Arial, Helvetica, sans-serif;
	FONT-SIZE:10px;
	FONT-WEIGHT:normal;
	TEXT-DECORATION:underline 
}
.combo  { 	
	BACKGROUND-COLOR:#ffffff;
	BORDER-BOTTOM:#ff8100 1px solid;
	BORDER-LEFT:#ff8100 1px solid;
	BORDER-RIGHT:#ff8100 1px solid;
	BORDER-TOP:#ff8100 1px solid;
	COLOR:#000000;
	FONT-FAMILY:Verdana;
	FONT-SIZE:8pt;
	FONT-WEIGHT:normal;
	PADDING-BOTTOM:0px;
	PADDING-LEFT:0px;
	PADDING-RIGHT:0px;
	PADDING-TOP:0px;
	over-color:#FC932C 
}
.row-vencido  { 	
	BACKGROUND-COLOR:#cc3300 
}
.row-porvencer  { 	
	BACKGROUND-COLOR:#ff9900 
}
.durazno1  { 	
	BACKGROUND-COLOR:#ff9933 
}
.durazno2  { 	
	BACKGROUND-COLOR:#ffcc99 
}
.durazno3  { 	
	BACKGROUND-COLOR:#ffe7ce 
}
.durazno4  { 	
	BACKGROUND-COLOR:#fff5ea 
}
.bordeaux1  { 	
	BACKGROUND-COLOR:#990000 
}
.bordeaux2  { 	
	BACKGROUND-COLOR:#b74c4c 
}
.bordeaux3  { 	
	BACKGROUND-COLOR:#d69999 
}
.bordeaux4  { 	
	BACKGROUND-COLOR:#cc0000 
}
.bordeaux5  { 	
	BACKGROUND-COLOR:#cc3300 
}
.gris1  { 	
	BACKGROUND-COLOR:#666666 
}
.gris2  { 	
	BACKGROUND-COLOR:#999999 
}
.gris3  { 	
	BACKGROUND-COLOR:#cccccc 
}
.gris4  { 	
	BACKGROUND-COLOR:#d8d8d8 
}
.gris5  { 	
	BACKGROUND-COLOR:#ebebeb 
}
.mostaza1  { 	
	BACKGROUND-COLOR:#cc6600 
}
.mostaza2  { 	
	BACKGROUND-COLOR:#cc3300 
}
.mostaza3  { 	
	BACKGROUND-COLOR:#ff9900 
}
.amarillo patito  { 	
	BACKGROUND-COLOR:#ffcc00 
}
.bordenegro1px  { 	
	BORDER-BOTTOM:#000000 1px solid;
	BORDER-LEFT:#000000 1px solid;
	BORDER-RIGHT:#000000 1px solid;
	BORDER-TOP:#000000 1px solid 
}
.bordegris1px  { 	
	BORDER-BOTTOM:#666666 1px solid;
	BORDER-LEFT:#666666 1px solid;
	BORDER-RIGHT:#666666 1px solid;
	BORDER-TOP:#666666 1px solid 
}
.borde1gris1px  { 	
	BORDER-BOTTOM:#cccccc 1px solid;
	BORDER-LEFT:#cccccc 1px solid;
	BORDER-RIGHT:#cccccc 1px solid;
	BORDER-TOP:#cccccc 1px solid 
}
.bordebordeaux1px  { 	
	BORDER-BOTTOM:#990000 1px solid;
	BORDER-LEFT:#990000 1px solid;
	BORDER-RIGHT:#990000 1px solid;
	BORDER-TOP:#990000 1px solid 
}
.textoblanco9px  { 	
	COLOR:#ffffff;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:9px;
	FONT-STYLE:normal 
}
.textoblanco11px  { 	
	COLOR:#ffffff;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:11px;
	FONT-WEIGHT:bold 
}
.textoblanco10px  { 	
	COLOR:#ffffff;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-WEIGHT:bold;
	TEXT-DECORATION:none 
}
.textoamarillo9px  { 	
	COLOR:#ffcc33;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:9px;
	FONT-STYLE:normal 
}
.textobordeaux10px  { 	
	COLOR:#990000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:normal 
}
.textobordeaux10pxbold  { 	
	COLOR:#990000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-WEIGHT:bold;
	TEXT-DECORATION:none 
}
.textoduraz10pxbold  { 	
	COLOR:#ffcc99;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-WEIGHT:bold;
	TEXT-DECORATION:none 
}
.textobordeaux11pxbold  { 	
	COLOR:#990000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:11px;
	FONT-WEIGHT:bold 
}
.textobordeaux14pxbold  { 	
	COLOR:#990000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:14px;
	FONT-WEIGHT:bold 
}
.textobordeaux12pxbold  { 	
	COLOR:#990000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:12px;
	FONT-WEIGHT:bold 
}
.textorojo11pxbold  { 	
	COLOR:#cc3300;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:11px;
	FONT-WEIGHT:bold 
}
.texto1gris9px  { 	
	COLOR:#cccccc;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:9px;
	FONT-STYLE:normal 
}
.texto2gris9px  { 	
	COLOR:#999999;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:9px;
	FONT-STYLE:normal 
}
.texto3gris9px  { 	
	COLOR:#666666;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:9px;
	FONT-STYLE:normal 
}
.texto4gris9px  { 	
	COLOR:#333333;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:9px;
	FONT-STYLE:normal 
}
.texto3gris10px  { 	
	COLOR:#666666;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:normal 
}
.texto3gris11px  { 	
	COLOR:#666666;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:11px;
	FONT-STYLE:normal 
}
.textonegro9px  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:9px;
	FONT-STYLE:normal;
	TEXT-DECORATION:none 
}
.textonegro10px  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:normal;
	TEXT-DECORATION:none 
}
.texto10px  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:normal;
	TEXT-DECORATION:none 
}
.textonegro11px  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:11px;
	FONT-STYLE:normal 
}
.textonegro12px  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:12px;
	FONT-STYLE:normal 
}
.textonegro12pxbold  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:12px;
	FONT-WEIGHT:bold 
}
.textonegro13px  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:13px;
	FONT-STYLE:normal 
}
.textonegro13pxbold  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:13px;
	FONT-WEIGHT:bold 
}
.textonegro11pxbold  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:12px;
	FONT-WEIGHT:bold 
}
.textonegro10pxbold  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-WEIGHT:bold 
}
.link1gris9px  { 	
	COLOR:#cccccc;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:9px;
	FONT-STYLE:normal 
}
.link1gris9px:hover  { 	
	COLOR:#fee0c2 
}
.linknegro10pxbold  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-WEIGHT:bold;
	TEXT-DECORATION:none 
}
.linknegro10pxbold:hover  { 	
	COLOR:#000000;
	TEXT-DECORATION:underline 
}
.linknegro11pxbold  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:11px;
	FONT-WEIGHT:bold;
	TEXT-DECORATION:none 
}
.linknegro11pxbold:hover  { 	
	COLOR:#000000;
	TEXT-DECORATION:underline 
}
.botonamarillo  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:normal;
	TEXT-DECORATION:none 
}
.botonbordeaux  { 	
	COLOR:#ffffff;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:normal;
	TEXT-DECORATION:none 
}
.tituloseccion  { 	
	COLOR:#990000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:14px;
	FONT-STYLE:italic;
	FONT-WEIGHT:bold;
	TEXT-DECORATION:none 
}
.ruteoseccion  { 	
	COLOR:#990000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:italic 
}
A.ruteoseccion  { 	
	COLOR:#990000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:italic;
	TEXT-DECORATION:none;
	padding-botton:7px 
}
.titulonoticiaseccion  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:14px;
	FONT-WEIGHT:bold;
	TEXT-DECORATION:none 
}
.titulocolumna  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:16px;
	FONT-WEIGHT:bold 
}
.copetecolumna  { 	
	COLOR:#666666;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-WEIGHT:bold 
}
.titulopastilla  { 	
	COLOR:#990000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:9px;
	FONT-WEIGHT:bold 
}
.personalizacion  { 	
	COLOR:#990000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:10px;
	FONT-STYLE:normal;
	TEXT-DECORATION:none 
}
.personalizacion:hover  { 	
	COLOR:#990000;
	TEXT-DECORATION:underline 
}
.buscadortelefonico  { 	
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, helvetica;
	FONT-SIZE:7px;
	FONT-STYLE:normal;
	bgcolor:#cccccc 
}
.desplegablesgrises  { 	
	BACKGROUND:#cccccc;
	COLOR:#000000;
	FONT-FAMILY:verdana, Arial, sans-serif;
	FONT-SIZE:9px 
}
.desplegablesblancos  { 	
	BACKGROUND:#ffffff;
	COLOR:#000000;
	FONT-FAMILY:verdana, Arial, sans-serif;
	FONT-SIZE:9px 
}
.desplegablesamarillos  { 	
	BACKGROUND:#fee0c2;
	COLOR:#000000;
	FONT-FAMILY:verdana, Arial, sans-serif;
	FONT-SIZE:9px 
}
.field  { 	
	BACKGROUND:#ffffff;
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, sans-serif;
	FONT-SIZE:9px 
}
.fieldblanco  { 	
	BACKGROUND:#ffffff;
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, sans-serif;
	FONT-SIZE:9px 
}
.fieldamarillo  { 	
	BACKGROUND:#fee0c2;
	COLOR:#000000;
	FONT-FAMILY:verdana, arial, sans-serif;
	FONT-SIZE:9px 
}
.bordegris1pxnuevo2  { 	
	BORDER-BOTTOM:black 0px solid;
	BORDER-LEFT:#999999 1px solid;
	BORDER-RIGHT:#999999 1px solid;
	BORDER-TOP:#ffe7ce 1px solid 
}
.bordegris1pxnuevo  { 	
	BORDER-BOTTOM:black 0px solid;
	BORDER-LEFT:#999999 1px solid;
	BORDER-RIGHT:#999999 1px solid;
	BORDER-TOP:#ffcc99 1px solid 
}
