A:hover  { 	
	COLOR:Red
}
A.btn:hover  { 	
	COLOR:#FFFFFF;
	TEXT-DECORATION:none 
}
.btn  { 	
	COLOR:#FFFFFF;
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px;
	FONT-WEIGHT:bold;
	TEXT-DECORATION:none 
}
.selected  { 	
	COLOR:#8899FF;
	BORDER:1px solid;
	BACKGROUND-COLOR:#8899FF 
} 

.btntit  { 	
	COLOR:#FFFFFF;
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:10px;
	FONT-WEIGHT:bold 
}
.modnom  { 	
	COLOR:#000000;
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px;
	FONT-WEIGHT:bold;
	TEXT-DECORATION:none 
}
A.modtit:hover  { 	
	COLOR:#ff0000;
	TEXT-DECORATION:underline 
}
.modtit  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px;
	FONT-WEIGHT:bold;
	TEXT-DECORATION:none;
	COLOR:#000099 
}
A.modsec:hover  { 	
	COLOR:#ff0000;
	TEXT-DECORATION:underline 
}
.modsec  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:10px;
	TEXT-DECORATION:none;
	COLOR:#000099 
}
A.vol:hover  { 	
	COLOR:#666666;
	TEXT-DECORATION:none 
}
.vol  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:10px;
	FONT-WEIGHT:normal;
	TEXT-DECORATION:none;
	COLOR:#666666 
}
.modtxt  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px 
}
A.srvlnk:hover  { 	
	COLOR:#800040;
	TEXT-DECORATION:none 
}
.srvlnk  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px;
	TEXT-DECORATION:none;
	COLOR:#800040 
}
A.dsttxt:hover  { 	
	COLOR:#ff0000;
	TEXT-DECORATION:none 
}
.dsttxt  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px;
	TEXT-DECORATION:none;
	COLOR:#000000 
}
A.cat:hover  { 	
	COLOR:#FF0000;
	TEXT-DECORATION:underline 
}
.cat  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:9px;
	TEXT-DECORATION:none;
	COLOR:#000099 
}
A.cat:visited  { 	
	COLOR:#000099 
}
.opc  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:9px 
}
.mnu  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px;
	WIDTH:216px 
}
.mnu2  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px;
	WIDTH:150px 
}
.mnu3  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:10px 
}
.cmpgui  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px;
	BORDER:1px solid #468C50;
	WIDTH:166px 
}
.cmpbus  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px;
	BORDER:1px solid #800040;
	WIDTH:70px 
}
.bot  { 	
	FONT-FAMILY:Tahoma, Sans-serif;
	FONT-SIZE:11px 
}
.col0  { 	
	BACKGROUND-COLOR:#FFFFFF 
}
.col1  { 	
	BACKGROUND-COLOR:#FF9900 
}
.col2  { 	
	BACKGROUND-COLOR:#FFCC66 
}
.col3  { 	
	BACKGROUND-COLOR:#FFE6A0 
}
.col4  { 	
	BACKGROUND-COLOR:#FF6600 
}
.col5  { 	
	BACKGROUND-COLOR:#E6E6E6 
}
.col6  { 	
	BACKGROUND-COLOR:#B4D2F0 
}
.col7  { 	
	BACKGROUND-COLOR:#D2F0D2 
}
.col8  { 	
	BACKGROUND-COLOR:#E6E6BE 
}
.col9  { 	
	BACKGROUND-COLOR:#FAE6C8 
}
.col10  { 	
	BACKGROUND-COLOR:#FFFAF0 
}
.col11  { 	
	BACKGROUND-COLOR:#DCE6F5 
}
.col12  { 	
	BACKGROUND-COLOR:#FFF0B4 
}
.col13  { 	
	BACKGROUND-COLOR:#FFFFF0 
}
.col15  { 	
	BACKGROUND-COLOR:#FFDC64 
}
.col16  { 	
	BACKGROUND-COLOR:#FFB400 
}
.col17  { 	
	BACKGROUND-COLOR:#E6D7E6 
}
