.JMenuItem  { 	
	cursor:default;
	display:block;
	height:24px;
	padding:2px 0px 2px 4px;
	margin:0px 0px 0px 1px;
	font-size:11px;
	font-family:Tahoma, Verdana, Helvetica, Sans-Serfif;
	text-decoration:none;
	vertical-align:center;
	color:black;
	border:1px solid white;
	width:195 
} 

.JMenuItemOver  { 	
	cursor:default;
	display:block;
	height:24px;
	padding:2px 0px 2px 4px;
	margin:0px 0px 0px 1px;
	font-size:11px;
	font-family:Tahoma, Verdana, Helvetica, Sans-Serfif;
	text-decoration:none;
	vertical-align:center;
	color:black;
	border:1px solid rgb(120,172,255);
	width:195;
	background:rgb(234,242,255) 
} 

.JMenuItemText  { 	
	padding-left:0px;
	padding-right:0px 
} 

.JPopupMenu  { 	
	margin:2px 0px 0px 0px;
	cursor:default;
	border:1px solid black;
	margin:1px 0px 0px 0px;
	background:white 
} 

.JMenuBar  { 	
	display:block;
	text-decoration:none;
	color:MenuText;
	vertical-align:center;
	cursor:default;
	font:Menu;
	border:0;
	background:rgb(120,172,255);
	font-family:Verdana, Helvetica, Sans-Serif;
	font-size:11px;
	padding:2px; 
	
	border-left:1px solid rgb(120,172,255);
	border-right:1px solid rgb(120,172,255);
	border-top:1px solid rgb(120,172,255);
	border-bottom:1px solid rgb(120,172,255);
	margin:0px 0px 0px 0px 
} 

.JMenuBarOver  { 	
	display:block;
	text-decoration:none;
	color:black;
	vertical-align:center;
	cursor:default;
	font:Menu;
	border:0;
	background:rgb(120,172,255);
	font-family:Verdana, Helvetica, Sans-Serif;
	font-size:11px;
	padding:2px;
	border-right:1px solid rgb(234,242,255);
	border-left:1px solid rgb(0,66,174);
	border-bottom:1px solid rgb(234,242,255);
	border-top:1px solid rgb(0,66,174);
	margin:0px 0px 0px 0px 
} 

.JSeparator  { 	
	border-top:1px solid rgb(120,172,255);
	margin:0px 0px 0px 0px 
}
